@keyframes BackgroundAnim {
    0%   {background-color:rgb(255, 255, 0);}
    30%  {background-color:rgb(249, 118, 74);}
    50%  {background-color:rgb(174, 165, 255);}
    70%  {background-color:rgb(74, 255, 128);}
    100% {background-color:rgb(255, 255, 0);}
  }
@keyframes LinkAnim {
    0%   {color:rgb(255, 0, 0);}
    20%  {color:rgb(87, 15, 255);}
    50%  {color:rgb(238, 255, 0);}
    60%  {color:rgb(229, 255, 0);}
    100% {color:rgb(255, 0, 0);}
}
body {
    padding: 20px;
    font-size: 18px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 255, 0);;

    animation-delay: 2s;
    /*animation-name: BackgroundAnim;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;*/
}
img{
    height: auto;
    width: 100%;
}
.cover{
    width: 360px;
    margin-left: 10px;
    img{
        border-radius: 1em;
        box-shadow: 5px 5px rgb(255, 255, 255);
    }
}
.content{
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.track{
    display: flex;
    gap: 20px;
}
.song{
    margin: 10px;
}
h2{
    font-size: 40px; 
}
.link{
    font-size: 32px;
    margin-top: -15px;
    margin-bottom: 10px;
    margin-left: 45px;
    color: rgb(225, 0, 0);
    /*text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
    animation-delay: 2s;
    animation-name: LinkAnim;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
audio{
    margin-top: 10px;
}
.main_title{
    font-size: 80px;
    margin: 10px;
    text-align: center;
    /*background-color: rgb(255, 255, 0);*/
}
.under_main_title{
    margin-top: -6px;
    text-align: center;
    /*background-color: rgb(255, 255, 0);*/
}